.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(135deg, #0ea5e9, #8b5cf6);
  height: 100vh;
  justify-content: center;
}

.header {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
}

.task {
  width: 490px;
  height: 25px;
  border-radius: 5px;
  border: 0px solid black;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin-bottom: 30px;
}

.addButton {
  width: 50px;
  height: 45px;
  border-radius: 5px;
  border: 0px solid black;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.3);
  transition: 0.3s ease-out;
}

.addButton:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
.editButton:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
.deleteButton:hover {
  background-color: rgba(245, 104, 104, 0.5);
}

.taskLayout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 525px;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 10px 20px;
  border-radius: 7px;
  margin-bottom: 20px;
}

.editButton {
  padding: 13px;
  border-radius: 5px;
  border: 0px solid black;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.3);
  transition: 0.3s ease-out;
}

.deleteButton {
  padding: 13px;
  border-radius: 5px;
  border: 0px solid black;
  background: rgba(239, 68, 68, 0.5); /* Semi-transparent red */
  border: 1px solid rgba(255, 255, 255, 0.3);
  transition: 0.3s ease-out;
}

.butttonLayout {
  display: flex;
  gap: 10px;
}

.todolit_header {
  font-weight: 200;
  color: white;
}

.taskColor {
  color: white;
}
